@import './base.css';

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h2, ul {
  margin-bottom: 15px;
}

.textInput {
  margin: 10px 0 15px 0;
}

.delButton {
  margin-right: 15px;
  cursor: pointer;
  color: red;
}

.deleted {
  text-decoration: line-through;
}